<a href="https://colab.research.google.com/github/kirillel85/kirillel85/blob/public_main/E_commers_dataset_%D0%90%D0%BD%D0%B0%D0%BB%D0%B8%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D0%B0_%D1%81_%D0%BC%D0%B5%D1%82%D1%80%D0%B8%D0%BA%D0%B0%D0%BC%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задача на составление аналитической таблицы с метриками на примере очень известного E-Commerce dataset  
На примере данного датасета создать аналитическую таблицу и собрать нужные метрики для бизнеса.  
Сделать это необходимо и на Pandas и на SQL.  
Таблица должна быть составлена помесячно и содержать следующие метрики:

user -- Количество пользователей, которые зарегестрировались в данный месяц  
active -- Количество активных пользователей  
active_pct (конверсия в покупку) -- Отношение активных пользователей ко всем зарегестрированым пользователям на этот месяц (active / users)  
new_users (UV - unique visitors or MAU), -- Новые уникальные пользователи помесячно  
revenue,  -- Выручка помесячно  
quantity, -- Количество проданного товара помесячно  
quantity_avg, -- Среднее суммарное количество наименований на каждого пользователя в месяц  
description_cnt_distinct_avg -- Среднее количество уникальных проданных наименований на одного пользователя по месяцам

In [ ]:
# @title Импорт библиотек и создание образа Google drive disk
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib

In [ ]:
# from google.colab import drive
# drive.mount('/content/gdrive')

## Читаем данные
Ссылка на Kagle https://www.kaggle.com/datasets/manikandankmvk/e-commerse-dataset


Ссылка на GDrive
https://drive.google.com/file/d/1KKpKb4olEH76piHHOhPJBPa8IHCEaOjT/view?usp=drive_link

In [ ]:
! gdown --id 1KKpKb4olEH76piHHOhPJBPa8IHCEaOjT

In [ ]:
# ! unzip /content/archive.zip
# можно разархивировать предварительно

In [ ]:
# Читаем сразу в zip кодировке
df = pd.read_csv('/content/archive.zip',encoding="ISO-8859-1")

## Осмотр датасета. Предобработка

In [ ]:
df.columns.str.lower()
# Переводим в snake_case

In [ ]:
df.columns = ['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date',
       'unit_price', 'customer_id', 'country']

In [ ]:
df.sample(11)
# @title df = Сырой датафрейм в snake_case

In [ ]:
df.isna().mean().sort_values(ascending=False)
# Проверка на пустые значения. Видим 25% пустых значений в ключевом для анализа поле

In [ ]:
df['customer_id'] = df['customer_id'].fillna(-1)
# Заменяем пустые значения на -0,01

In [ ]:
df[df['customer_id'] < 0]
# смотрим бывшие пустые значения в customer_id

In [ ]:
df.isna().mean()

In [ ]:
df[df['customer_id'] == 12681.0]
# Смотрим на случайного юзера

In [ ]:
df.sample(7)

In [ ]:
df.dtypes

In [ ]:
memory_before = df.memory_usage().sum()
memory_before
# Узнаём суммарную память

In [ ]:
df.memory_usage()
# Смотрим подробнее память

In [ ]:
df['invoice_no'] = df['invoice_no'].astype('category')
df['stock_code'] = df['stock_code'].astype('category')
df['description'] = df['description'].astype('category')
df['quantity'] = df['quantity'].astype('int32')
df['country'] = df['country'].astype('category')
# Переводим в другие типы переменных

In [ ]:
df['invoice_date'] = pd.to_datetime(df['invoice_date'], format='%m/%d/%Y %H:%M')
# Переводим строку даты в формат даты

In [ ]:
df['invoice_date'][0]
# Проверяем первый индекс серии с датами
# df.dtypes

In [ ]:
memory_after = df.memory_usage().sum()
memory_after

In [ ]:
df.dtypes

In [ ]:
(1 - memory_after / memory_before) * 100
#@title Сократили занимаемую память на 40%

In [ ]:
df.memory_usage()
# Более подробно

In [ ]:
df['invoice_date'].dt.year.value_counts().reset_index().plot.barh(y='count', x='invoice_date',color="#8B6C62" )
# Колличество строк в сыром df по годам. ( Просто интересно :)  )  #001D18   color="#8B6C62"

In [ ]:
df.head()

## Обработка

In [ ]:
# @title Добавляем новые поля 'revenue' и 'дата' округленную до месяца
df['revenue'] = df['quantity'] * df['unit_price']
# Добавляем новое поле выручка

In [ ]:
df['revenue'].dtypes
# Проверка на тип данных

In [ ]:
# df['invoice_month2'] = df['invoice_date'].to_numpy().astype('datetime64[M]')
# # Создаём новое поле с округленными датами до месяца

In [ ]:
df.insert(0, "invoice_month", df['invoice_date'].to_numpy().astype('datetime64[M]'))
# Создаём новое поле с округленными датами до месяца. 2 вариант создания этого же поля методом insert, но вначале датафрейма

In [ ]:
# df.sample(11)

In [ ]:
# df = df.drop('invoice_month2', axis=1)

In [ ]:
df.sample(5)

In [ ]:
# df.dtypes

In [ ]:
# @title Предгруппировка, предагрегация и создание вычисляемого поля count = количество строк принадлежащих каждому месяцу
t_agg1 = df.groupby('invoice_month')['revenue'].agg(['count','sum']).reset_index()

In [ ]:
t_agg1.columns = ['invoice_month', 'count', 'sum_revenue']

In [ ]:
t_agg1.sort_values('invoice_month')

In [ ]:
# @title Проверка контрольных сумм после агрегации
df['revenue'].sum()

In [ ]:
t_agg1['sum_revenue'].sum()

In [ ]:
# @title Проверка количества строк после агрегации
t_agg1['count'].sum()

In [ ]:
len(df)

In [ ]:
# @title !!! Проверка пройдена успешно.

## t0 = каркас аналитической таблицы.   
Создаём временной ряд со всеми датами в датасете, и к нему будем джойнить показатели

In [ ]:
min_dt = df['invoice_month'].min()
# Получаем минимальную дату в серии

In [ ]:
max_dt = df['invoice_month'].max()
# Получаем максимальную дату в серии

In [ ]:
max_dt

In [ ]:
t0 = pd.DataFrame(pd.date_range(min_dt,max_dt,freq='MS'))
# Создаём серию со всеми возможными датами в диапазоне дат исходного датасета

In [ ]:
t0.columns = ['month']
# переименовываем серию

In [ ]:
# @title Каркас из серии сгенерированных дат для аналитической таблицы

In [ ]:
# @title Джойним каркас с предыдущей таблицей группировки.
t1 = t0.merge(t_agg1,how='left',left_on='month',right_on='invoice_month')

In [ ]:
t1 = t1[['invoice_month',	'count',	'sum_revenue']]
t1
# @title t1 = Простой ежемесячный отчет по продажам.

In [ ]:
t1.sum_revenue.sum() - (df['quantity'] * df['unit_price']).sum()
# Сверяем с сырыми данными

In [ ]:
t1['count'].sum() - len(df)
# Сверяем с сырыми данными

In [ ]:
df.sample(5)

## Создаём таблицу - заготовку для нашей аналитической таблицы

## users = Таблица с юзерами.

In [ ]:
users = df.groupby('customer_id')[['invoice_date','invoice_month']].min().reset_index()
# @title Делаем таблицу с юзерами. (Группируем юзеров и берем минимальное значение по дате и месяцу по каждому юзеру)

In [ ]:
users

In [ ]:
df.groupby(['customer_id']).agg({'invoice_date': 'min', 'invoice_month': 'min' }).reset_index()
# Второй вараиант группировки. Для проверки как работает .min() с групировкой по двум столбцам

In [ ]:
users.columns = ['customer_id', 'reg_date', 'reg_month']
# Переименовываем столбцы в таблице юзеров

In [ ]:
# users.sort_values('reg_month', ascending=False)
# # Сортируем по месяцу

In [ ]:
users.head(11)

In [ ]:
# @title Кроссджойн t0 и user

df.sample(10)

In [ ]:
# users.to_excel('/content/users.xlsx', index=True, index_label='index')
# # Хочу посмотреть на таблицу в экселе

In [ ]:
len(users) *  len(t0)
# размер таблицы который должен получится при кросс джойне

In [ ]:
# @title 1 вариант кроссджойна

In [ ]:
t0['key'] = 1
# Добавляем ключ для кросс джойна

In [ ]:
t0

In [ ]:
users['key'] = 1

In [ ]:
users

In [ ]:
len(users) * len(t0)
# То что должно получится при кросс джойне

In [ ]:
cross1 = t0.merge(users, on='key')[['month','customer_id','reg_date','reg_month']]
# Кросджойним две таблицы
cross1

In [ ]:
if len(cross1) == len(users) * len(t0):
  print('Кроссджойн проведен успешно!!!')

In [ ]:
# @title (2 вариант кроссджойна)

In [ ]:
cross2 = t0.merge(users, how='cross')[['month','customer_id','reg_date','reg_month']]

In [ ]:
if len(cross2) == len(users) * len(t0):
  print('Кроссджойн2 проведен успешно!!!')

In [ ]:
template = cross1[cross1['month'] >= cross1['reg_month']]
# Фильтруем по условию. Убираем все месяца которые были раньше даты регистрации пользователя

In [ ]:
template

In [ ]:
template['customer_id'].nunique()
# Перед дальнейшими действиями проверим колличество уникальных пользователей в сыром датафрейме и в нашей итоговой заготовке

In [ ]:
df['customer_id'].nunique()
# @title Проверка на количество уникальных пользователей в заготовке прошла успешно

## template = Заготовка для аналитической таблицы создана
Теперь необходимо наполнить её метриками

In [ ]:
template

In [ ]:
#@title Подтягиваем выручку

In [ ]:
user_month = df.groupby(['customer_id','invoice_month'])[['revenue','quantity']].sum().reset_index()
# агрегируем данные по выручке из сырого df

In [ ]:
user_month
# видим пользователя с нулевой выручкой

In [ ]:
user_month[user_month['customer_id'] > 0]
# Проверяем после агрегации. Видим ноль у одного пользователя. Странно. Проверим ниже этого пользователя

In [ ]:
df[df['customer_id'] == 12346.0]
# Проверяем странного пользователя. Это был возврат. Всё правильно!

In [ ]:
df['revenue'].sum()

In [ ]:
user_month['revenue'].sum()
#@title Проверка. Суммы после агрегации совпадают

In [ ]:
user_month.columns = ['customer_id', 'month', 'revenue', 'quantity']
user_month
#@title Получили таблицу с сгруперованными юзерами по id и месяцу

## Начало сборки аналитической таблицы с метриками

In [ ]:
at = template.merge(user_month, how='left', on=['customer_id','month'])
# Левый джойн по ключам ['customer_id','month']

In [ ]:
at.head()

In [ ]:
df.revenue.sum()

In [ ]:
at.revenue.sum()
# Проверка контрольных сумм

In [ ]:
# Проверка глазами на вменяемость

In [ ]:
at[at['customer_id'] == 12346.00]
# проверяем и смотрим на первого попавшегося пользователя

In [ ]:
at[at['customer_id'] == 12348]

In [ ]:
at[at['customer_id'] == 18282]

In [ ]:
df[df['customer_id'] == 18282]
# Проверка на сырых данных

In [ ]:
#@title at + revenue готова
at

In [ ]:
#@title Метрика 1 = user. Получаем совокупное количество зарегестрированнных пользователей на каждый месяц

In [ ]:
at['user'] = 1

In [ ]:
at.sample(11)

In [ ]:
at.groupby('month')[['revenue', 'user']].sum().reset_index().sort_values('month')
# Получили совокупное количество зарегестрированнных пользователей на каждый месяц

In [ ]:
#@title Метрика 2 = active_users. Получаем количество активных пользователей на каждый месяц

In [ ]:
at['active_users'] = (at['revenue'].notna())*1
# Ставим единицу в новом поле напротив тех пользователей у которых были покупки в этом месяце

In [ ]:
at.groupby('month')[['revenue', 'active_users', 'user']].sum().reset_index().sort_values('month')
# Получили

In [ ]:
#@title Метрика 3 = new_users. Сколько новых пользователей приходило каждый месяц.

In [ ]:
# at

In [ ]:
at['new_users'] = (at['month'] == at['reg_month'])*1
# Только тот пользователь считается новым который имеет одинаковую дату регистрации с месяцем группировки  month и reg_month

In [ ]:
at.groupby('month')[['revenue', 'active_users','new_users', 'user']].sum().reset_index().sort_values('month')
# Получили

In [ ]:
#@title Метрика 4 = quantity (sum). Сумарное колличество товаров, которое покупали пользователи каждый месяц.
# Среднее колличество покупок на клиента

In [ ]:
at.quantity = at.quantity.fillna(0)
# заменяем пустые значения на 0

In [ ]:
df.quantity.sum()-at.quantity.sum()
# проверка прошла

In [ ]:
at.quantity = at.quantity.astype('int')
# переводим в инт

In [ ]:
at.dtypes
# все ок

In [ ]:
report = at.groupby('month')[['revenue', 'active_users','new_users', 'user', 'quantity']].sum().reset_index().sort_values('month')
# добавляем метрику 4 в at

In [ ]:
report.head()

In [ ]:
report['quantity_mean'] = report['quantity'] /  report['active_users']
#@title Метрика 5 = quantity_mean. Среднее колличество товаров которое покупали пользователи каждый месяц.

In [ ]:
report

In [ ]:
#@title Метрика 6 = description_mean. Количество уникальных проданных наименований на одного пользователя по месяцам

In [ ]:
user_month = (df.groupby(['customer_id','invoice_month'])
[['revenue','quantity','description']]
.agg({'revenue':'sum','quantity':'sum','description':'nunique'})
.reset_index())
# агрегируем данные по выручке из сырого df

In [ ]:
user_month.rename({'invoice_month':'month'},axis=1,inplace=True)
# переименовываем

In [ ]:
user_month

In [ ]:
at = template.merge(user_month,how='left',on=['customer_id','month'])
# снова мержим с заготовкой

In [ ]:
at['user'] = 1
at['active'] = (~at['revenue'].isna())*1
at['new'] = (at['month'] == at['reg_month'])*1
# Все заново пересобираем

In [ ]:
at.head()

In [ ]:
report = (at.groupby('month')
[['user','active','new','revenue','quantity','description']]
 .agg({'user':'sum','active':'sum','new':'sum','revenue':'sum',
       'quantity':['sum','mean'],'description':'mean'}).reset_index()
 .sort_values('month'))
# Заново все пересоздаём но уже через функцию агрегации

In [ ]:
report.columns = ['_'.join(col).strip() for col in report.columns.values]
# Сносим мультииндекс

In [ ]:
report.columns

In [ ]:
report.head()

In [ ]:
report.insert(3, 'active_pct', (report['active_sum'] / report['user_sum']))

In [ ]:
report.columns = ['month_', 'user', 'active', 'active_pct', 'new_users',
       'revenue', 'quantity', 'quantity_avg', 'description_cnt_distinct_avg']

In [ ]:
# report['active_pct'] = report['active_sum'] / report['user_sum']

In [ ]:
report

### Вот и всё!!! Аналитическая таблица с метриками готова
THE END

# SQL

## Установка postgres

In [ ]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

In [ ]:
from sqlalchemy import create_engine
con = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')
# Импорт алхимии и создание мотора

In [ ]:
def select(sql):
  return pd.read_sql(sql,con)

# Назначение функции для кода SQL, что бы не передавать переменную con в каждый запрос

Функция быстрой записи DataFrame в Postgrees из Pandas  

ссылка на источник: https://stackoverflow.com/a/55495065/4527289

In [ ]:
import csv
from io import StringIO

# Функция быстрой записи DataFrame в Postgrees из Pandas

def psql_insert_copy(table, conn, keys, data_iter):
    # gets a DBAPI connection that can provide a cursor
    dbapi_conn = conn.connection
    with dbapi_conn.cursor() as cur:
        s_buf = StringIO()
        writer = csv.writer(s_buf)
        writer.writerows(data_iter)
        s_buf.seek(0)

        columns = ', '.join('"{}"'.format(k) for k in keys)
        if table.schema:
            table_name = '{}.{}'.format(table.schema, table.name)
        else:
            table_name = table.name

        sql = 'COPY {} ({}) FROM STDIN WITH CSV'.format(
            table_name, columns)
        cur.copy_expert(sql=sql, file=s_buf)

## Заливка данных

In [ ]:
df = pd.read_csv('/content/archive.zip',encoding="ISO-8859-1")
# Читаем и раскодируем zip архив

In [ ]:
df.columns = ['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date',
       'unit_price', 'customer_id', 'country']
# Переименовываем поля в snake_case

In [ ]:
df['invoice_date'] = pd.to_datetime(df['invoice_date'], format='%m/%d/%Y %H:%M')
# Переводим в формат дата - время в Пандасе

In [ ]:
df.dtypes
# Проверяем

In [ ]:
df.to_sql('ecommerce',
          con,index=False,
          if_exists='replace',
          method=psql_insert_copy)
# Применняем функцию записи df из Пандас в БД

In [ ]:
sql = '''SELECT * FROM ecommerce t LIMIT 5'''
select(sql)
# Осмотр

In [ ]:
df.head()
# Осмотр

In [ ]:
sql = '''
SELECT count(invoice_no)
FROM ecommerce t
'''
print(select(sql))
print(len(df))
# Проверяем как загрузилась таблица в БД

## Блок "на побаловаться" с таблицей

In [ ]:
df.head()

In [ ]:
sql = '''
SELECT date_trunc('month', t.invoice_date) as month,
date_trunc('week', t.invoice_date) as week, -- Хоть по минутам делай
*
FROM ecommerce t
LIMIT 5
'''
select(sql)

## Обработка дат

In [ ]:
sql = '''
SELECT
min(date_trunc('month', t.invoice_date)),
max(date_trunc('month', t.invoice_date))
FROM ecommerce t
'''
select(sql)
# Узнаём минимальную и максимальную дату

## t0 в SQL.

In [ ]:
sql = '''
SELECT date_trunc('day', dd):: date as month
FROM generate_series
(
  (SELECT min(date_trunc('month', t.invoice_date))
  FROM ecommerce t),
  (SELECT max(date_trunc('month', t.invoice_date))
  FROM ecommerce t),
  '1 month'::interval
) dd
'''

select(sql)
# Генерируем серию дат для каркаса аналитической таблицы

## users в SQL = Таблица с юзерами.

In [ ]:
sql = '''
SELECT
CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END AS customer_id,
min(t.invoice_date) as reg_date,
min(date_trunc('month', t.invoice_date)) as reg_month
FROM ecommerce t
GROUP BY
CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END
ORDER BY customer_id
'''
select(sql)
# Группируем по пользователю и сразу избавляемся от null в этом поле.

In [ ]:
users
# проверка с таблицей users. По прежнему все ок!!!

## template в SQL = таблица заготовка для конечно аналитической таблицы

> Добавить блок с цитатой

In [ ]:
sql = '''
WITH
users as (
SELECT CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END AS customer_id,
min(t.invoice_date) as reg_date,
min(date_trunc('month', t.invoice_date)) as reg_month
FROM ecommerce t
GROUP BY CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END
ORDER BY customer_id
),
dates as (
SELECT date_trunc('day', dd):: date as month
FROM generate_series (
(SELECT min(date_trunc('month', t.invoice_date))
FROM ecommerce t),
(SELECT max(date_trunc('month', t.invoice_date))
FROM ecommerce t),
'1 month'::interval
) dd )
SELECT t.month, u.*
FROM dates t
JOIN users u on 1=1  -- Кросс джойним две таблицы через синтаксис 1=1
WHERE u.customer_id = 12648.0
ORDER BY t.month
'''

select(sql)
# Создаём template таблица заготовка для конечной аналитической таблицы
# Видим что есть месяца младше месяца регистрации пользователя

In [ ]:
sql = '''
WITH
users as (
SELECT CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END AS customer_id,
min(t.invoice_date) as reg_date,
min(date_trunc('month', t.invoice_date)) as reg_month
FROM ecommerce t
GROUP BY CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END
ORDER BY customer_id
),
dates as (
SELECT date_trunc('day', dd):: date as month
FROM generate_series (
(SELECT min(date_trunc('month', t.invoice_date))
FROM ecommerce t),
(SELECT max(date_trunc('month', t.invoice_date))
FROM ecommerce t),
'1 month'::interval
) dd )
SELECT t.month, u.*
FROM dates t
JOIN users u on 1=1   -- Кросс джойним две таблицы через синтаксис 1=1
AND t.month >= u.reg_month  -- Пишем условия фильтрации прямо в джойне
WHERE u.customer_id = 12648.0
ORDER BY t.month
'''

select(sql)
# Создаём template таблица заготовка для конечно аналитической таблицы....шаг 2
# Теперь все норм. Месяца младше месяца регистрации отфильтрованы
# Проводим сборку отчета на примере одного пользователя

## template SQL = готова  
  
Теперь можно добавлять метрики

In [ ]:
sql = '''
WITH
users as (
SELECT CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END AS customer_id,
min(t.invoice_date) as reg_date,
min(date_trunc('month', t.invoice_date)) as reg_month
FROM ecommerce t
GROUP BY CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END
ORDER BY customer_id
),
dates as (
SELECT date_trunc('day', dd):: date as month
FROM generate_series (
(SELECT min(date_trunc('month', t.invoice_date))
FROM ecommerce t),
(SELECT max(date_trunc('month', t.invoice_date))
FROM ecommerce t),
'1 month'::interval
) dd ),
template as (
SELECT t.month, u.*
FROM dates t
JOIN users u on 1=1   -- Кросс джойним две таблицы через синтаксис 1=1
AND t.month >= u.reg_month)  -- Пишем условия фильтрации прямо в джойне

SELECT *
FROM template t
-- WHERE t.customer_id = 12648.0 -- Проверяем на одном пользователе
ORDER BY t.month

'''

select(sql)
# Создаём template таблица заготовка для конечно аналитической таблицы....шаг 3
# Заворачиваем предыдущий запрос в CTE

In [ ]:
len(template)
# проверяем размеры с template Пандас

In [ ]:
template
# сравниваем и проверяем

In [ ]:
sql = '''
SELECT
CASE WHEN customer_id is null THEN -1 ELSE customer_id end as customer_id,
date_trunc('month', t.invoice_date) as month,
sum(t.quantity * t.unit_price) as revenue
FROM ecommerce t
-- WHERE t.customer_id = 12648.0 -- проверяем на этом же пользователе
GROUP BY
CASE WHEN customer_id is null THEN -1 ELSE customer_id end,
date_trunc('month', t.invoice_date)

'''

select(sql)
# Таблица с юзерами по месяцам (аналог user_month)

In [ ]:
sql = '''select sum(t.quantity * t.unit_price) from ecommerce t'''
select(sql)

In [ ]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# Отключение научной нотации для предыдущего запроса

In [ ]:
sql = '''select sum(t.quantity * t.unit_price) from ecommerce t'''
select(sql)
# Сравниваем суммы после агрегации

In [ ]:
sql = '''
WITH user_month as (
SELECT
CASE WHEN customer_id is null THEN -1 ELSE customer_id end as customer_id,
date_trunc('month', t.invoice_date) as month,
sum(t.quantity * t.unit_price) as revenue
FROM ecommerce t
-- WHERE t.customer_id = 12648.0 -- проверяем на этом же пользователе
GROUP BY
CASE WHEN customer_id is null THEN -1 ELSE customer_id end,
date_trunc('month', t.invoice_date))

SELECT sum(revenue) FROM user_month
'''
select(sql)

# Получаем сумму выручки для проверки

In [ ]:
#@title Суммы сходятся

## Создаём аналитическую таблицу.  
Джойним агрегированные даннные к заготовке

In [ ]:
sql = '''
WITH
users as (
SELECT CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END AS customer_id,
min(t.invoice_date) as reg_date,
min(date_trunc('month', t.invoice_date)) as reg_month
FROM ecommerce t
GROUP BY CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END
ORDER BY customer_id
),
dates as (
SELECT date_trunc('day', dd):: date as month
FROM generate_series (
(SELECT min(date_trunc('month', t.invoice_date))
FROM ecommerce t),
(SELECT max(date_trunc('month', t.invoice_date))
FROM ecommerce t),
'1 month'::interval
) dd ),
template as (
SELECT t.month, u.*
FROM dates t
JOIN users u on 1=1   -- Кросс джойним две таблицы через синтаксис 1=1
AND t.month >= u.reg_month),  -- Пишем условия фильтрации прямо в джойне, которое нам все даты которые встречаются раньше даты регистрации

-- к таблице заготовке template джойним user month
user_month as (SELECT
CASE WHEN customer_id is null THEN -1 ELSE customer_id end as customer_id,
date_trunc('month', t.invoice_date) as month,
sum(t.quantity * t.unit_price) as revenue
FROM ecommerce t
-- WHERE t.customer_id = 12648.0 -- проверяем на этом же пользователе
GROUP BY
CASE WHEN customer_id is null THEN -1 ELSE customer_id end,
date_trunc('month', t.invoice_date))

SELECT *
FROM template t
LEFT JOIN user_month u ON t.customer_id = u.customer_id and t.month = u.month
-- WHERE t.customer_id = 12648.0 -- Проверяем на одном пользователе
ORDER BY t.month

'''
select(sql)
#Джойним две таблицы user_month к таблице template

In [ ]:
template
# Для осмотра таблиц перед джойном

In [ ]:
user_month
# Для осмотра таблиц перед джойном

## Считаем итоговый отчет

In [ ]:
sql = '''
WITH
users as (
SELECT CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END AS customer_id,
min(t.invoice_date) as reg_date,
min(date_trunc('month', t.invoice_date)) as reg_month
FROM ecommerce t
GROUP BY CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END
ORDER BY customer_id
),

dates as (
SELECT date_trunc('day', dd):: date as month
FROM generate_series (
(SELECT min(date_trunc('month', t.invoice_date))
FROM ecommerce t),
(SELECT max(date_trunc('month', t.invoice_date))
FROM ecommerce t),
'1 month'::interval
) dd ),

template as (
SELECT t.month, u.*
FROM dates t
JOIN users u on 1=1   -- Кросс джойним две таблицы через синтаксис 1=1
AND t.month >= u.reg_month),  -- Пишем условия фильтрации прямо в джойне, которое нам все даты которые встречаются раньше даты регистрации

-- к таблице заготовке template джойним user month
user_month as (
SELECT
CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END as customer_id,
date_trunc('month', t.invoice_date) as month,
sum(t.quantity * t.unit_price) as revenue_sum,
sum(t.quantity) as quantity_sum,
count(distinct t.description) as description_cnt_distinct
FROM ecommerce t
GROUP BY
CASE WHEN t.customer_id is null THEN -1 ELSE t.customer_id END,
date_trunc('month', t.invoice_date)),

analytical_table as (
SELECT t.*,
u.revenue_sum,
u.quantity_sum,
u.description_cnt_distinct,
1 as user,
CASE WHEN u.revenue_sum is not null THEN 1 ELSE 0 END as active,
CASE WHEN t.month = t.reg_month THEN 1 ELSE 0 END as new
FROM template t
LEFT JOIN user_month u on t.customer_id = u.customer_id and t.month = u.month)

SELECT t.month,
sum(t.user) as user,  -- Количество пользователей которые зарегестрировались в данный месяц
sum(t.active) as active, -- Количество активных пользователей
avg(t.active) as active_pct, -- Отношение активных пользователей ко всем зарегестрированым пользователям на этот месяц (active / users)
sum(t.new) as new_users, -- Новые пользователи ежемесячно
sum(t.revenue_sum) as revenue,  -- Выручка помесячно
sum(t.quantity_sum) as quantity, -- Количество проданного товара за месяц
avg(t.quantity_sum) as quantity_avg, -- Среднее суммарное количество наименований на каждого пользователя в месяц
avg(t.description_cnt_distinct) as description_cnt_distinct_avg -- Среднее количество уникальных наименований
FROM analytical_table t
-- WHERE t.customer_id = 12648.0 -- Проверяем на одном пользователе
GROUP BY t.month
ORDER BY t.month
'''
tt = select(sql)
tt
# Итоговый отчет готов

In [ ]:
report.head()

In [ ]:
tt.revenue.sum()

In [ ]:
(df['unit_price']*df['quantity']).sum()

In [ ]:
# Проверка контрольных сумм