<a href="https://colab.research.google.com/github/kirillel85/kirillel85/blob/public_main/Task_MetaLead.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title Импорт библиотек
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib
from IPython.display import display, HTML

In [2]:
! gdown --id 1nK-_rVb1XgVTjA2JnN8PGkVNYcXwnzwf
# @title Загружаем таблицы на сервер Colab из гугл диска

/usr/local/lib/python3.10/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1nK-_rVb1XgVTjA2JnN8PGkVNYcXwnzwf
To: /content/Task_MetaLead.xlsx
100% 35.9k/35.9k [00:00<00:00, 63.4MB/s]

In [124]:
clients_table1 = pd.read_excel('/content/Task_MetaLead.xlsx', sheet_name='Clients_Table1')
orders_table1 = pd.read_excel('/content/Task_MetaLead.xlsx', sheet_name='Orders_Table1')
products_table1 = pd.read_excel('/content/Task_MetaLead.xlsx', sheet_name='Products_Table1')
# Читаем

In [ ]:
products_table1

In [ ]:
#@title Устанавливаем сервер postgresql внутри временного рабочего сервера гугл Colab
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

In [5]:
from sqlalchemy import create_engine
con = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')
# Импорт алхимии и создание мотора

In [6]:
def select(sql):
  return pd.read_sql(sql,con)

# Назначение функции для кода SQL, что бы не передавать переменную con в каждый запрос

In [7]:
clients_table1.to_sql('clients_table1',con,index=False,if_exists='replace')
orders_table1.to_sql('orders_table1',con,index=False,if_exists='replace')
products_table1.to_sql('products_table1',con,index=False,if_exists='replace')
# @title Заливаем таблицы в БД Postgres

60

### Задания 1, 2, 3

```
Тестовое задание: Клиентская аналитика
"Вам предоставлены три таблицы базы данных, связанные с клиентами и их покупками:"

client_id (INT) — уникальный идентификатор клиента
name (VARCHAR) — имя клиента
signup_date (DATE) — дата регистрации клиента

order_id (INT) — уникальный идентификатор заказа
"client_id (INT) — идентификатор клиента, связанный с заказом"
order_date (DATE) — дата заказа
amount (DECIMAL) — сумма заказа

product_id (INT) — уникальный идентификатор товара
"order_id (INT) — идентификатор заказа, связанного с товаром"
product_name (VARCHAR) — название товара
category (VARCHAR) — категория товара
price (DECIMAL) — цена товара


Задания
Часть 1: Основные запросы
1. Список активных клиентов
"Получите список клиентов, которые совершили хотя бы один заказ. Включите в результат:"
client_id
name
Количество заказов (order_count)

Задача 2. Выручка по клиентам
"Рассчитайте общую сумму покупок (total_amount) для каждого клиента, который зарегистрировался в 2023 году."

Задача 3. Самые популярные категории
"Определите три категории товаров, которые чаще всего покупали клиенты за последний месяц."
```

```
Задача 1. Список активных клиентов
"Получите список клиентов, которые совершили хотя бы один заказ. Включите в результат:" client_id, name, Количество заказов (order_count)
```

In [ ]:
sql = '''
SELECT client_id, name, count(order_id) as order_count
FROM clients_table1
INNER JOIN orders_table1 USING(client_id)
GROUP BY client_id, name
ORDER BY order_count DESC
'''
display(HTML(select(sql).to_html(index=False)))
#@title Задача 1. Решена

```
Задача 2. Выручка по клиентам
"Рассчитайте общую сумму покупок (total_amount) для каждого клиента, который зарегистрировался в 2023 году."
```

In [100]:
sql = '''
WITH
orders_group AS (
SELECT client_id, sum(amount) as total_amount
  FROM orders_table1
  WHERE date_part('year', order_date) = 2023
  GROUP BY client_id)

SELECT client_id, name,
CASE WHEN total_amount is null THEN 0 ELSE total_amount END
FROM clients_table1
LEFT JOIN orders_group USING(client_id)
ORDER BY
CASE WHEN total_amount is null THEN 0 ELSE total_amount END DESC

'''
display(HTML(select(sql).to_html(index=False))) # Не показываем индекс фрейма
#@title Задача 2. Решена

```
3. Самые популярные категории
"Определите три категории товаров, которые чаще всего покупали клиенты за последний месяц."
```

In [98]:
sql = '''
WITH
last_orders AS ( -- Выводим все покупки где месяц заказа равен последнему месяцу
SELECT *
FROM orders_table1 ot
WHERE date_trunc('month', order_date) = (SELECT max(date_trunc('month', order_date)) as max_date FROM orders_table1)
)

SELECT DISTINCT CASE WHEN category is null THEN 'not_known_category' ELSE category END as category
FROM last_orders
LEFT JOIN products_table1 USING(order_id)
'''

display(HTML(select(sql).to_html(index=False)))
# Не показываем индекс фрейма

#@title # Задача 3. Решена

### Задания 4, 5, 6, 7

```
Часть 2: Сложные запросы,
4. Средний чек клиента,
"Рассчитайте среднюю сумму заказа для каждого клиента, который сделал более трех заказов. Выведите:",
client_id,
name,
Средний чек (avg_order_amount)  

5. Коэффициент конверсии клиентов,
"Рассчитайте коэффициент конверсии клиентов за последние три месяца. Под коэффициентом конверсии понимается отношение количества клиентов,  
сделавших хотя бы один заказ, к общему количеству зарегистрированных клиентов за этот период."  

6. Анализ новых клиентов,
"Выведите список новых клиентов, которые зарегистрировались в текущем году и совершили свой первый заказ в течение 7 дней после регистрации.  
Для каждого такого клиента выведите:"
client_id,
name,
Дату регистрации (signup_date),
Дату первого заказа (first_order_date)

```

In [133]:
sql = '''
WITH
orders AS (
  SELECT client_id, count(order_id) as order_count, avg(amount) as avg_order_amount
  FROM orders_table1
  GROUP BY client_id
  )

SELECT client_id, name, avg_order_amount
FROM orders JOIN clients_table1 USING(client_id)
WHERE order_count > 3
ORDER BY order_count DESC
'''
display(HTML(select(sql).to_html(index=False)))
# Не показываем индекс фрейма

#@title  Задача 4. Решена. Внимание!!! Данные в поле orders_table1.amount НЕ СХОДЯТСЯ с данными в поле products_table1.price. Средний чек расчитан по полю orders_table1.amount.

```
5. Коэффициент конверсии клиентов,
"Рассчитайте коэффициент конверсии клиентов за последние три месяца. Под коэффициентом конверсии понимается отношение количества клиентов,  
сделавших хотя бы один заказ, к общему количеству зарегистрированных клиентов за этот период."  
```

In [232]:
sql = '''
SELECT date_trunc('month', order_date) AS month, count(client_id) AS client_count,

(SELECT count(client_id) FROM orders_table1
WHERE date_trunc('month', order_date) in (SELECT DISTINCT date_trunc('month', order_date) as month FROM orders_table1 ORDER BY month DESC LIMIT 3)) AS sum_client_reg,

count(client_id)/(SELECT count(client_id) FROM orders_table1
WHERE date_trunc('month', order_date) in (SELECT DISTINCT date_trunc('month', order_date) as month FROM orders_table1 ORDER BY month DESC LIMIT 3))::float
 AS conversion

FROM clients_table1
INNER JOIN orders_table1 USING(client_id)
WHERE date_trunc('month', order_date) in (SELECT DISTINCT date_trunc('month', order_date) as month FROM orders_table1 ORDER BY month DESC LIMIT 3)
GROUP BY date_trunc('month', order_date)
ORDER BY month DESC
  '''
#@title  Задача 5. Решена.
display(HTML(select(sql).to_html(index=False)))
# Не показываем индекс фрейма

In [ ]:
sql = '''
WITH
orders AS (
  SELECT client_id, count(order_id) as order_count
  FROM orders_table1
  GROUP BY client_id
  )

SELECT client_id, name,
CASE WHEN order_count is null THEN 0 ELSE order_count END AS order_count
FROM clients_table1
INNER JOIN orders USING(client_id)
ORDER BY order_count DESC
'''
display(HTML(select(sql).to_html(index=False)))
# Не показываем индекс фрейма
#@title Задача 7. Оптимизирована