### 1. Первые шаги в мир Pandas
#### 1.2 Создание DataFrame и Series

In [ ]:
class pandas.DataFrame(data=None, 
                       index=None, 
                       columns=None, 
                       dtype=None, 
                       copy=None)

In [ ]:
# Упражнение 1

# Импортируйте библиотеку Pandas.  
import pandas as pd
# Создайте серию.
list_in = [1, 2, 3, 4, 5]
series = pd.Series(list_in)

In [ ]:
# Упражнение 2

# Импортируйте библиотеку Pandas.        
import pandas as pd
# Создайте серию.
list_in = ['asdd', 'qwee', 'zxcc', 'sdff']
# Создайте серию.
series = pd.Series(list_in)

In [1]:
# Упражнение 3

# Импортируйте библиотеку Pandas.       
import pandas as pd
# Создайте серию.
list_in =['ford', 'opel', 'vw', 'haval', 'fiat']
# Создайте серию
series = pd.Series(list_in, index=['row_1', 'row_2', 'row_3', 'row_4', 'row_5'])

In [ ]:
# Упражнение 4

# Импортируйте библиотеку Pandas.       
import pandas as pd
# Создайте серию.
list_in = ['asdd', 'qwee', 'zxcc', 'sdff', 'fiat']
# Создайте серию.
series = pd.Series(list_in, index=['row_1', 'row_2', 'row_3', 'row_4', 'row_5'], name='pd_series')

In [ ]:
# Упражнение 5
# Импортируйте библиотеку Pandas.        
import pandas as pd

# Создайте серию.
dict_in = {'row_1': 1, 
           'row_2': 2,
           'row_3': 3,
           'row_4': 4}

series = pd.Series(dict_in, index=['row_2','row_4'])

In [ ]:
# Упражнение 6
# # Импортируйте библиотеку Pandas.        
import pandas as pd

# Создайте DataFrame.
dict_in = {'col_1': [1, 2, 3], 'col_2': [4, 5, 6]}

df = pd.DataFrame(dict_in)

In [ ]:
# Упражнение 7
# Импортируйте библиотеку Pandas.        
import pandas as pd

# Создайте DataFrame.
dict_in = { 'col_1': [1,2,3],
            'col_2': [4,5,6],
            'col_3': [7,8,9]}

df = pd.DataFrame(dict_in)

In [ ]:
# Упражнение 8
# Импортируйте библиотеку Pandas.        
import pandas as pd

# Создайте DataFrame.
dict_in = {'col_1': [1,2,3], 'col_2': [4,5,6], 'col_3': [7,8,9]}

df = pd.DataFrame(dict_in, index=['row_1', 'row_2', 'row_3'])

In [ ]:
# Упражнение 9
# Импортируйте библиотеку Pandas.        
import pandas as pd

# Создайте DataFrame.
dict_in = {'col_1': [1, 2, 3], 
           'col_2': [4, 5, 6],
           'col_3': [7, 8, 9], 
           'col_4': [10, 11, 12]}

df = pd.DataFrame(dict_in)

In [ ]:
# Упражнение 10
# Импортируйте библиотеку Pandas.        
import pandas as pd

# Создайте DataFrame.
dict_in = {'col_1': [1, 2, 3], 
           'col_2': [4, 5, 6],
           'col_3': [7, 8, 9], 
           'col_4': [10, 11, 12]}

df = pd.DataFrame(dict_in, columns=['col_1', 'col_3'] )

In [ ]:
# Упражнение 11

# Импортируйте библиотеку Pandas.        
import pandas as pd

# Создайте DataFrame.
dict_in = {'col_1': [1, 2, 3], 
           'col_2': [4, 5, 6],
           'col_3': [7, 8, 9], 
           'col_4': [10, 11, 12]}

df = pd.DataFrame(dict_in,
                  columns=['col_2', 'col_3'], 
                  index=['row_1', 'row_2', 'row_3'])

In [ ]:
import pandas as pd
ser_1 = pd.Series([1,3,4,5,6])
ser_2 = pd.Series([1,3,4,5,6])

In [ ]:
# Упражнение 12
# Series созданы и записаны в переменные ser_1 и ser_2.
df = pd.DataFrame({'col_1':ser_1,'col_2':ser_2})

In [ ]:
# Упражнение 13
df = pd.DataFrame({'Нерешенные':ser_1,'Решенные':ser_2})

#### 1.3 Чтение и запись CSV

In [4]:
# Упражнение 3
df = pd.read_csv('data.csv',
                 sep=',')

In [6]:
# Упражнение 4
df = pd.read_csv('data.csv',
                 sep=';')

In [ ]:
# Упражнение 5
df = pd.read_csv('data.csv',
                sep=':',
                index_col='date')

In [ ]:
# Упражнение 6
df = pd.read_csv('data.csv',
                sep=';',
                usecols=['col_2', 'col_3', 'col_5'])

In [ ]:
# Упражнение 7
df = pd.read_csv('data.csv',
                sep=',',
                usecols=['col_2', 'col_3','date', 'col_5'],
                index_col='date')

In [ ]:
# Упражнение 8
df = pd.read_csv('data.csv',
                sep=';',
                dtype = {'city':'category','col_2':'string', 'col_3':'int'})

In [ ]:
# Упражнение 9
df = pd.read_csv('data.csv',
    sep=':',
    dtype = {'city':'category','col_2':'string', 'col_3':'int'},
    index_col='date')

In [ ]:
# Упражнение 10
df = pd.read_csv('data.csv',
    sep=',',
    usecols=['col_2', 'col_3', 'col_5'],
    nrows=5)

##### DataFrame  на локальной машине

In [2]:
import pandas as pd
df = pd.read_csv('/home/kirill/Kir-test/data/pd_data.csv',
    sep=',',
    usecols=['col_2', 'col_3', 'col_5'],
    nrows=5)

In [ ]:
type(df)
df.info()

In [ ]:
df

##### Запись в CSV

In [75]:
df.to_csv('/home/kirill/Kir-test/data/pd_data2.csv')

In [77]:
d = pd.read_csv('/home/kirill/Kir-test/data/pd_data2.csv')

In [ ]:
# Упражнение 11
df.to_csv('data.csv')

In [ ]:
# Упражнение 12
df.to_csv('data.csv',
    columns=['client', 'product'])

In [ ]:
# Упражнение 13
df.to_csv('data.csv',
    columns=['client', 'product'],
    index=False)

#### 1.4 Индексы строк и столбцов

In [79]:
import pandas as pd
import numpy as np

In [80]:
# Упражнение 1
# Импортируйте библиотеку Pandas.       
import pandas as pd
ind = pd.Index(['a', 'b', 'c', 'd', 'e'])

In [ ]:
# Упражнение 2
# Импортируйте библиотеку Pandas.       
import pandas as pd
ind = pd.Index(['a', 'b', 'c', 'd'],
    name="my_index")

In [103]:
# Упражнение 3
# Импортируйте библиотеку Pandas.       
import pandas as pd
ind = df.index
cols = df.columns

In [ ]:
# Упражнение 4. Вытаскиваем индексы строк и индексы столбцов
# Импортируйте библиотеку Pandas.       
import pandas as pd

ind = df.index # Вынимаем индексы строк
cols = df.columns # Вынимаем индексы колонок
list_ind = pd.Index.to_list(ind) # Превращаем в список
list_cols = pd.Index.to_list(cols) # Превращаем в список

In [109]:
# Упражнение 5
import pandas as pd

dict_in = {'col_1': [1, 2, 3, 4, 5],
           'col_2': [1, 2, 3, 4, 5],
           'col_3': [1, 2, 3, 4, 5]}
ind = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5']
df = pd.DataFrame(dict_in,
                  index=ind)

In [9]:
# Упражнение 6
nan_in_indx = df.index.hasnans #  Определяем есть ли пропуски в индексах строк.

In [36]:
# Упражнение 10

unique_ind = df.index.unique() # Вынимаем только уникальные индексы строк
unique_cols  = df.columns.unique()  # Вынимаем только уникальные индексы сущностей

In [41]:
# Упражнение 11

nunique_ind = df.index.nunique() # Получаем колличество уникальных индексов строк
nunique_cols  = df.columns.nunique()  # Получаем колличество уникальных индексов колонок

In [50]:
# Упражнение 12
new_df = df.rename(columns={
    'col_2':'new_col_2',
    'col_3':'new_col_3',
    })

In [ ]:
# My renamed columns
new_df = df.rename(columns=
    {'0.1':'0',
    '0':'1',
    'city':'City',
    'col_2':'Quantity_in_box',
    'col_3':'Quantity',
    'date':'Date',
    'col_5':'Check_box'
    }      
    )

In [ ]:
# Упражнение 13
new_df = df.rename(columns={
    'col_2':'new_col_2',
    'col_3':'new_col_3',
    })
df = new_df

In [34]:
# Датафрейм для работы
df = pd.read_csv('/home/kirill/Kir-test/data/pd_data.csv',
    sep=',',
    header=0
    )

#### 1.5 Индексы. Доступ к данным.

In [81]:
# Датафрейм для работы
import pandas as pd
df = pd.read_csv('/home/kirill/Kir-test/data/pd_data.csv',
    sep=',',
    header=0
    )

In [ ]:
# Задайте индекс DataFrame, используя существующие столбцы
DataFrame.set_index(
    # Передаём в первый аргумент (keys) метку столбца который будет новым индексом. 
    keys, # пример: DataFrame.set_index('col_1')
    *,
    drop=True,
    append=False,
    inplace=False, # По умолчанию не меняет датафрейм а делает копию
    verify_integrity=False)

In [ ]:
# Упражнение 3
# В программе создан DataFrame и записан в переменную df. Он содержит столбец с именем "data". 
# Установите этот столбец в качестве индексов строк. Результат запишите в переменную new_df.
# Примечание: импортировать библиотеку Pandas не нужно, она уже импортирована.
# new_df = df.set_index('data')

new_df = df.set_index('date')
new_df

In [ ]:
# Упражнение 4
# В программе создан DataFrame и записан в переменную df. Он содержит столбцы с именами 
# "data" и "age". Установите эти столбцы в качестве индексов строк.
# Результат запишите в переменную new_df.
# new_df = df.set_index(['data', 'age'])

df.set_index(['date', 'city'], inplace=True)
df

In [75]:
# Упражнение 5
# В программе создан DataFrame и записан в переменную df. В текущем DataFrame поменяйте
# индексы строк на столбец "data".
# df.set_index('data',inplace=True)

df.set_index('date',inplace=True)

In [ ]:
# Упражнение 6
# В программе создан DataFrame и записан в переменную df. 
# В данном DataFrame "сбросьте" индексы строк, представив их в виде столбца df.
# df.reset_index(inplace=True)
p = df.reset_index(['date'])
p

In [ ]:
# Упражнение 7
# В программе создан DataFrame и записан в переменную df. 
# Столбец с именем "name" присвойте переменной series. 
# В переменной series должна быть Series, а не DataFrame.
# series = pd.Series(df['name'])

series = pd.Series(df['date'])
series

In [ ]:
series.info()

In [ ]:
# Упражнение 8
# В программе создан DataFrame и записан в переменную df.
# Столбец с именем "name" присвойте переменной df_1.
# В переменной df_1 должен быть  DataFrame, а не Series.
# df_1 = df[['name']]
df_1 = df[['date']]
df_1

In [ ]:
df_1.info()

In [ ]:
# Упражнение 9
# В программе созданы DataFrame и Series и записаны в переменные df и ser. 
# Создайте новый столбец "new_col" и запишите в него ser.
# df['new_col'] = ser

In [96]:
ser = pd.Series([1,2,3,4,5])

In [ ]:
df['new_col2'] = ser

In [ ]:
df

In [104]:
# Упражнение 10
# В программе созданы DataFrame и Series и записаны в переменные df и ser. 
# Создайте новый столбец "new_col" и запишите в него ser.
# DataFrame уже создан и записан в переменную df.
# df['new_col'] = df['age']

df['new_col3'] = df['city']

In [ ]:
df

In [ ]:
# Упражнение 11
# В прошлом задании вы создали столбец "new_col". Он явно там лишний, удалите его. 
# DataFrame записан в переменную df
# Импортировать библиотеку Pandas не нужно, она уже импортирована.
# df.drop('new_col', axis=1, inplace=True)

df.drop('new_col3', axis=1, inplace=True)

In [109]:
df.drop('new_col2', axis=1, inplace=True)

In [ ]:
df

In [ ]:
# Упражнение 13

# В программе создан DataFrame и две серии Series и записаны в переменные df, ser_1, ser_2. 
# В df создайте новые столбцы "new_col_1" и "new_col_2", запишите в них ser_1 и ser_2 соответственно. 
# Столбец "date" установите в качестве индексов строк.
# Примечание: импортировать библиотеку Pandas не нужно, она уже импортирована.
# df['new_col_1'] = ser_1
# df['new_col_2'] = ser_2
# df.set_index('date',inplace=True)

ser_1 = pd.Series([1,2,3,4,5])
ser_2 = pd.Series([5,4,3,2,1])
df['new_col_1'] = ser_1
df['new_col_2'] = ser_2
df.set_index('date',inplace=True)
df

#### 1.6 Мультииндекс

In [10]:
# Упражнение 2
# Создайте мультииндекс на основе данных списков: ['a', 's', 'd', 'f'] и [1, 2, 3, 4]. Используйте метод from_arrays().
# Результат запишите в переменную ind.

# Импортируйте библиотеку Pandas.        
import pandas as pd

# Создайте объект MultiIndex.
ind = pd.MultiIndex.from_arrays([['a', 's', 'd', 'f'], [1, 2, 3, 4]])

In [115]:
# Упражнение 3
# Есть две модели мотоциклов "юпитер" и "восход". Они могут быть раскрашены в три цвета: 
# черный, оранжевый и красный. На основе этих данных создайте мультииндекс.
#  Нулевой уровень с именем "модель", а первый уровень с именем "цвет".
# Импортируйте библиотеку Pandas.        
import pandas as pd
level_0 = ['юпитер', 'восход']
level_1 = ['черный', 'оранжевый', 'красный']

# Создайте объект MultiIndex.
ind = pd.MultiIndex.from_product([level_0, level_1], names=['модель', 'цвет'])

In [ ]:
ind

In [ ]:
# Упражнение 5.
# получите количество уровней, результат запишите в переменную nlev,
# получите кортеж с количеством элементов на каждом уровне, результат запишите в переменную lev_sh,
# получите имена уровней, результат запишите в переменную name_lev,
# получите объект, содержащий элементы мультииндекса, результат запишите в переменную lev,

# DataFrame уже создан и записан в переменную df.
nlev = df.index.nlevels
lev_sh = df.index.levshape
name_lev = df.index.names
lev = df.index.levels

In [28]:
# Упражнение 6
# В DataFrame удалите нулевой уровень у мультииндекса столбцов.
# Pandas импортирована
# DataFrame уже создан и записан в переменную df.

df.columns =  ind # Вынимаем индексы колонок
new_index = df.columns.droplevel()

In [ ]:
new_index

In [ ]:
df.index

In [ ]:
df.columns

#### 1.7 Арифметические операции

In [ ]:
# ser+ser

In [ ]:
# Упражнение 1
# В программе создана серия, содержащая данные о зарплате сотрудников, и записана в переменную 
# ser. При её создании была допущена ошибка, в результате которой зарплата сотрудников в 1000 раз меньше. 
# Например, вместо 50000 стоит 50. Исправьте эту ошибку.

# new_ser = ser * 1000

In [ ]:
# Упражнение 2
# Сложите элементы первой серии с элементами второй

# new_ser = ser_1 + ser_2

In [ ]:
# Упражнение 3 
# Умножьте элементы столбца DF "col_2" на элементы из серии

# new_ser = df['col_2'] * ser

In [168]:
# Создаём новый датафрейм
dict_in = {
    'стаж работы': [3.25, 4.50, 5.75, 6.25, 7.50],
    'зарплата': [60, 70, 80, 90, 100]}
df_1 = pd.DataFrame(dict_in)
# создаём новую серию
ser_1 = pd.Series([1,2,3,4,5,6])
# добавляем новый столбец и присваиваем ему значения из ser_1
df_1['new_col1'] = ser_1
# выводим 3 строки в новый дф
df_3 = df_1.head(3)
# выводим только два столбцав еще один дф
df_4 = df_1[['стаж работы','new_col1']]

In [ ]:
df_3

In [ ]:
df_4

In [ ]:
# Объединяем
df_3 + df_4

In [ ]:
# Объединяем. тоже самое что выше но с методом add()
df_3.add(df_4)

In [136]:
# Упражнение 4
# Поменяйте значения так, чтобы:
# в столбце "стаж работы" стояли месяцы, а не года,
# в столбце "зарплата" стояли числа в тысячу раз больше

# # DaraFrame уже создан и записан в переменную df.
# # Переводим колонку в серию и производим операцию вычесления
# series1 = df['стаж работы'] * 12
# series2 = df['зарплата'] * 1000
# #Объединяем две серии
# new_df = pd.concat([series1,series2],axis=1)

In [ ]:

# Создаём новый датафрейм
dict_in = {
    'стаж работы': [3.25, 4.50, 5.75, 6.25, 7.50],
    'зарплата': [60, 70, 80, 90, 100]}
df_1 = pd.DataFrame(dict_in)
# Переводим колонку в серию и производим операцию вычесления
series1 = df_1['стаж работы'] * 12
series2 = df_1['зарплата'] * 1000
#Объединяем две серии по оси 1 ( {0/'index', 1/'columns'}, по умолчанию 0 )
df_1 = pd.concat([series1,series2],axis=1)
df_1

In [ ]:
# Упражнение 5
# Поменяйте значения так, чтобы:
# в столбце "год рождения" стояла дата в формате 19ХХ (пример: 1989)
# в столбце "стаж работы" стояли месяцы, а не года
# в столбце "зарплата" стояли числа в тысячу раз больше.

# # Переводим колонку в серию и производим операцию вычесления
# series1 = df['стаж работы'] * 12
# series2 = df['зарплата'] * 1000
# series3 = df['год рождения'] + 1900
# #Объединяем две серии по оси 1 ( {0/'index', 1/'columns'}, по умолчанию 0 )
# new_df = pd.concat([series3,series1,series2],axis=1)
# new_df

In [ ]:
import pandas as pd
data = {
    'год рождения' : [88, 89, 90, 91, 92,],
    'стаж работы' : [3.25, 4.50, 5.75, 6.25, 7.50,],
    'зарплата' : [60, 70, 80, 90, 100,],
}
#
df = pd.DataFrame(data)
# Переводим колонку в серию и производим операцию вычесления
series1 = df['стаж работы'] * 12
series2 = df['зарплата'] * 1000
series3 = df['год рождения'] + 1900
#Объединяем две серии по оси 1 ( {0/'index', 1/'columns'}, по умолчанию 0 )
new_df = pd.concat([series3,series1,series2],axis=1)
new_df

In [ ]:
# Упражнение 6
# Требуется получить серию, показывающую насколько зарплата у сотрудника 
# отклоняется от средних значений. Для этого из значений серии ser нужно вычесть 
# среднее значение, которое можно найти с помощью метода mean().
# Результат запишите в переменную new_ser.

# new_ser = ser - ser.mean()

new_ser = series2 - series2.mean()
new_ser

In [23]:
# Упражнение 7
# Требуется получить DF, показывающий насколько показатели у сотрудников 
# отклоняются от средних значений.
# Результат запишите в переменную new_df.

# ser.index = ['стаж работы', 'age', 'зарплата'] 
# new_df = df.sub(ser)

import pandas as pd
data = {
    'age' : [19, 20, 23, 24, 25],
    'стаж работы' : [3, 4, 5, 6, 7],
    'зарплата' : [60000, 70000, 80000, 90000, 100000]
}
ser = pd.Series([5.0, 22.2, 80000.0], index=['средний стаж работы', 'средний возраст', 'средняя зарплата'])
DF = pd.DataFrame(data)
# Что тут мы делаем вообще не понятно. Я взял решение из комментариев
ser.index = ['стаж работы', 'age', 'зарплата'] 
new_df = df.sub(ser)
new_df

In [5]:
# Упражнение 9
# В программе созданы серия  и DF и записаны в переменные ser и df соответственно. 
# Ко всем столбцам DF прибавьте значения из серии. 
# Воспользуйтесь специальным методом и аргументом axis. Результат запишите в переменную new_df.
# new_df = df.add(ser, axis=0)

import pandas as pd
data = {
    'age' : [19, 20, 23, 24, 25],
    'стаж работы' : [3, 4, 5, 6, 7],
    'зарплата' : [60000, 70000, 80000, 90000, 100000]
}
ser = pd.Series([5.0, 22.2, 80000.0], index=['средний стаж работы', 'средний возраст', 'средняя зарплата'])
df = pd.DataFrame(data)

In [ ]:
list(ser)

In [ ]:
df

In [ ]:
new_df = df.add(list(ser), axis=1)
new_df

#### 1.8 Операции сравнения

In [ ]:
# Упражнение 3
# new_ser = ser_1 >= ser_2

In [ ]:
# Упражнение 4
# В программе созданы серия  и DF и записаны в переменные ser и df соответственно. 
# Сравните на равенство элементы столбца DF "col_2" с серией.
# new_ser = ser == df['col_2']

In [ ]:
# Упражнение 5
# В программе созданы два DF и записаны в переменные df_1 и df_2 . 
# Сравните на равенство элементы df_1 с элементами df_2
# new_df = df_1 == df_2

In [ ]:
# Упражнение 6
# В программе создана серия и записана в переменную ser . Она содержит количество покупок клиентов. 
# Требуется получить серию/маску показывающую какие клиенты имеют меньше 10 покупок
# new_ser = ser < 10

# Упражнение 7
# new_ser = df['name'] == 'Вальдемар'

# Упражнение 10
# new_df = df.ge(ser, axis=0)

Методы операций сравнения  
eq() ==  
ne() !=  
le() <=  
lt() <  
ge() >=  
gt() >

In [ ]:
# Упражнение 8
# ser.index = ['стаж работы', 'age', 'зарплата'] 
# new_df = df.gt(ser, axis=1)

In [ ]:
# Пример как это работает
import pandas as pd
data = {
    'age' : [19, 20, 23, 24, 25],
    'стаж работы' : [3, 4, 5, 6, 7],
    'зарплата' : [60000, 70000, 80000, 90000, 100000]
    }
import pandas as pd
ser = pd.Series([5.0, 22.2, 80000.0], index=['средний стаж работы', 'средний возраст', 'средняя зарплата'])
ser

In [ ]:
ser.index = ['стаж работы', 'age', 'зарплата'] # выравниваем индексы колонок с датафреймом
df = pd.DataFrame(data)
df.gt(ser, axis=1)  #  сравнение > среднего или нет

#### 1.9 Фильтрация данных по логическому условию

In [6]:
# Упражнение 3
# Получите только те строки, в которых стаж работы сотрудников больше 5
# new_df = df[df['стаж работы'] > 5]

import pandas as pd
data = {
    'год рождения' : [88, 89, 90, 91, 92],
    'стаж работы' : [3.25, 4.50, 5.75, 6.25, 7.50],
    'зарплата' : [60000, 70000, 80000, 90000, 100000]
    }
df = pd.DataFrame(data)

In [ ]:
df['стаж работы'] > 5

In [ ]:
new_df = df[df['стаж работы'] > 5]

& - битовая И  
Операторы сравнения ( ==, <, >, <= и т.д. )  
~ - битовая НЕ  
| - битовая ИЛИ

In [ ]:
# Упражнение 4
# Получите только те строки в которых стаж работы сотрудников больше 4, а з
# арплата меньше 95000.
# new_df = df[(df['стаж работы'] > 4) & (df['зарплата'] < 95000)]

In [ ]:
df[(df['стаж работы'] > 4) & (df['зарплата'] < 95000)]

In [ ]:
# Упражнение 5
# Получите только те строки в которых сотрудники младше 91 года рождения 
# и их зарплата не равна 80000.
# new_df = df[(df['год рождения'] > 91) & (df['зарплата'] != 80000)]

In [ ]:
new_df = df[(df['год рождения'] >= 91) | (df['зарплата'] < 70000)]  ; new_df

In [ ]:
# Упражнение 6 
# Получите только те строки в которых сотрудники не старше 91 года рождения 
# или зарплата меньше 70000.
# new_df = df.query('`год рождения` >= 91 or `зарплата` < 70000')

In [ ]:
# Упражнение 7
# Получите только те строки в которых сотрудники не старше 91 года рождения, 
# а их стаж работы равен любому числу из списка [4.5, 5.75, 6.25].
# new_df = df[(df['год рождения'] >= 91) & df['стаж работы'].isin([4.5, 5.75, 6.25])]

In [ ]:
import pandas as pd
data = {
    'год рождения' : [88, 89, 90, 91, 92],
    'стаж работы' : [3.25, 4.50, 5.75, 6.25, 7.50],
    'зарплата' : [60000, 70000, 80000, 90000, 100000]
    }
df = pd.DataFrame(data)
df

In [ ]:
# Получите только те строки в которых сотрудники не старше 91 года рождения, 
# а их стаж работы равен любому числу из списка [4.5, 5.75, 6.25]
df[(df['год рождения'] >= 91) & df['стаж работы'].isin([4.5, 5.75, 6.25])]

In [ ]:
# Упражнение 9 
# Получите только те строки в которых стаж работы сотрудников меньше или равен 4. 
# При фильтрации используйте метод query()
# new_df = df.query('`стаж работы` <= 4')
df.query('`стаж работы` <= 4')

In [ ]:
# Упражнение 10
# Получите только те строки в которых стаж работы сотрудников меньше или равен 5, 
# а их зарплата больше 65000. При фильтрации используйте метод query()
# new_df = df.query('`стаж работы` <= 5 and зарплата > 65000')

df.query('`стаж работы` <= 5 and зарплата > 65000')

In [ ]:
# Упражнение 11 
# Получите только те строки в которых сотрудники старше 91 года рождения и 
# зарплата равна 80000. При фильтрации используйте метод query()
# new_df = df.query('`год рождения` < 91 and зарплата == 80000')

df.query('`год рождения` < 91 and зарплата == 80000')

In [ ]:
# Упражнение 12 
# Получите только те строки в которых сотрудники не младше 91 года рождения 
# или зарплата больше 70000. При фильтрации используйте метод query()
# new_df = df.query('`год рождения` <= 91 or зарплата > 70000')

df.query('`год рождения` <= 91 or зарплата > 70000')

In [ ]:
# Упражнение 13 
# Получите список студентов решивших больше 100 задач на курсе "Pandas для анализа данных"
# stud_list = df.query('Решено > 100').index.to_list()

df.query('зарплата > 10000').index.to_list()

#### 1.10 Пропуски в данных. Значение Nan.

In [ ]:
import pandas as pd
import numpy as np
data = {
    'год рождения' : [88, 89,np.nan, 91, 92],
    'стаж работы' : [3.25, 4.50, 5.75, np.nan, 7.50],
    'зарплата' : [60000, np.nan, 80000, 90000, 100000]
    }
df = pd.DataFrame(data)
df

In [ ]:
# Упражнение 2
# Удалите все строки имеющие пропуски.
# new_df = df.dropna(axis=0)

In [ ]:
# Упражнение 3  
# Удалите все столбцы имеющие пропуски.
# new_df = df.dropna(axis=1)

In [ ]:
# Упражнение 4 
# Удалите те строки в которых все значения являются пропусками.
# new_df = df.dropna(axis=0, how = 'all')

# Упражнение 5
# Удалите те столбцы в которых все значения являются пропусками
# new_df = df.dropna(axis=0, how = 'all')

# Упражнение 6
# Удалите строки в которых в столбцах "name" и "age" есть пропуски
# new_df = df.dropna(axis=0, subset=['name','age'])

# Упражнение 7
# Удалите столбцы в которых в строках с индексами [2, 3, 7] есть пропуски
# new_df = df.dropna(axis=1, subset=[2, 3, 7])

# Упражнение 8
# Удалите строки в которых в столбцах "name" и "age" есть пропуски. 
# Примените изменения к df с помощью специального аргумента
# df.dropna(axis=0, subset=['name','age'], inplace=True)

# Упражнение 9
# Замените пропуски в столбцах "name" и "count" на "No_name" и число 10 соответственно. 
# Примените изменения к df с помощью специального аргумента.
# df.fillna({'name' : 'No_name','count' :  10}, inplace=True)

In [ ]:
df.fillna({'год рождения' : 'No_name','стаж работы':  10})
df

In [ ]:
# Упражнение 10
# new_df = df[df['name'].isna()]
df[(~df['год рождения'].isna()) & (df['зарплата'] <= 70000)]

# Упражнение 11 
# Получите только те строки в которых в столбце "age" нет пропусков, а в столбце "count" 
# число меньше или равно 5
# new_df = df[(~df['age'].isna()) & (df['count'] <= 5)]

# Упражнение 12 
# Оставьте только строки со студентами, решившими все задачи. 
# 1 - задача решена, Nan - задача не решена
# new_df = df.dropna(axis=0, how = 'any')

In [ ]:
# Упражнение 13 
# Получите список со студентами курса "Pandas для анализа данных", 
# у которых нет решенных задач
# stud_list = df[~df.any(axis=1)].index.to_list()

In [59]:
import pandas as pd
import numpy as np

temp = {'Упр_0': [1, np.NaN, 1], 
        'Упр_1': [np.NaN, np.NaN, np.NaN], 
        'Упр_2':[1, np.NaN, np.NaN]}

df = pd.DataFrame(data=temp, index=[f'Имя_{i}' for i in range(3)], columns=[f'Упр_{i}' for i in range(3)])

In [ ]:
df.any(axis=1)

In [ ]:
df[~df.any(axis=1)].index.to_list()

In [ ]:
df

## 1.11 Удаление строк и столбцов и метод astype().

In [ ]:
# Упражнение 1
# Удалите строки с индексами [1, 7, 55]
# new_df = df.drop(index=[1, 7, 55])

# Упражнение 2 
# Удалите столбцы с именами "id" и "product
# new_df = df.drop(columns=["id", "product"])

# Упражнение 3
# Удалите строки с индексами [1, 2, 3] и столбцы с именами "id" и "product
# df.drop(index=[1, 2, 3], columns=["id", "product"], inplace=True)

# Упражнение 5 
# Измените тип данных в столбце 'col_2' на 'int'
# new_df = df.astype({'col_2': np.int64})

# Упражнение 6
# Измените тип данных в столбце 'col_3' на 'category'
# new_df = df.astype({'col_3': 'category'})

# Упражнение 7
# Измените тип данных в столбцах, чтобы уменьшить объем занимаемой памяти и 
# увеличить скорость работы с некоторыми столбцами. Столбец "col_3" содержит всего 
# 10 уникальных значений
# import numpy as np
# new_df = df.astype({'col_3': 'category','col_1' : np.int8,'col_2' : np.int8,})

## 2.1 Методы at и iat. Методы loс и iloc

In [ ]:
# Упражнение 4
# Получите элемент с индексом строки 2 и индексом столбца 1
# value = df.iat[2,1]

# Упражнение 5
# Из столбца 'name' получите элемент с индексом строки 1
# value = df['name'].iloc[1]


# Упражнение 6
# Получите элемент, который находится на пересечении столбца 'age' и строки 'row_3'
# value = df.at['row_3', 'age']

# Упражнение 7
# Значение элемента, который находится на пересечении столбца 'name' и строки 'row_2', 
# поменяйте на значение 'new_name'
# df.at['row_2', 'name'] = 'new_name'


# Упражнение 9
# Получите элементы, которые находятся на пересечении столбца с индексом 1 и строк с 
# индексами 2 и 4
# new_ser = df.iloc[ [2,4] , 1 ]

# Упражнение 10
# Получите элементы, которые находятся на пересечении столбца с индексом 1 и строк, 
# имеющих индексы с 1 по 3 включительно.
# new_ser = df.iloc[ 1:4 , 1 ]

# Упражнение 11
# Получите элементы, которые находятся на пересечении столбца "год рождения" и строк с 
# метками 2, 3 и 5

# Упражнение 12
# Узнайте стаж работы и зарплату только тех сотрудников, чей возраст младше 89 года рождения
# new_df = df[df['год рождения'] > 89].loc[:,['стаж работы', 'зарплата']]

In [ ]:
dict_array = {
    'age': ['Сергей', 'Маша', 'Ксюша', 'Аристарх', 'Соня'],
    'name': [53, 37, 11, 18, 7],
    'Наличие авто': [True, True, False, True, False]
}
import pandas as pd
import numpy as np

df = pd.DataFrame(dict_array, index=['row_0', 'row_1', 'row_2', 'row_3', 'row_4'] )
df

In [ ]:
df['name'].iloc[1]

In [ ]:
df['name'].iloc[2:]

In [ ]:
df.iloc[ : , : ]

In [ ]:
df['name'].loc[['row_2', 'row_3', 'row_4']]

In [ ]:
import pandas as pd
import numpy as np
data = {
    'год рождения' : [88, 89, 90, 91, 92],
    'стаж работы' : [3.25, 4.50, 5.75, 6.25, 7.50],
    'зарплата' : [60000, 70000, 80000, 90000, np.nan]
    }
df = pd.DataFrame(data)
df

In [ ]:
df[df['год рождения'] >89]

In [ ]:
df[df['год рождения'] > 89].loc[:,['стаж работы', 'зарплата']]

In [ ]:
# Упражнение 13 
# DF состоит из 100 строк и в столбце "зарплата" есть пропуски. Получите столбец "зарплата" 
# без пропусков в данных. Используйте метод isna()
# new_ser = df[~df['зарплата'].isna()].loc[:,'зарплата']

In [ ]:
df[~df['зарплата'].isna()].loc[:,'зарплата']

In [ ]:
# Упражнение 14
# DF состоит из 100 строк и в столбце "зарплата" есть пропуски.
# Замените пропуски в столбце "зарплата" на среднее значение в этом столбце
# df.loc[df['зарплата'].isna(),'зарплата'] = df['зарплата'].mean()
# df

In [ ]:
df['зарплата'].mean()

In [ ]:
df['зарплата'].isna()

In [ ]:
pd.Series(df['зарплата']).isna()

In [ ]:
df['зарплата'].isna()

In [ ]:
df.loc[df['зарплата'].isna(),'зарплата'] = df['зарплата'].mean()
df
# решил

## 2.2 Методы value_counts(), sort_values(), unique(), nunique()

In [ ]:
import pandas as pd
import numpy as np

dict_array = {
    'age': [53, 53, 11, 18, 18, np.nan],
    'name': ['Сергей', 'Маша', 'Ксюша', 'Аристарх', 'Соня', 'Соня'],
    'Наличие авто': [True, True, False, True, False, True]
}

df = pd.DataFrame(dict_array, index=['row_0', 'row_1', 'row_2', 'row_3', 'row_4', 'row_5'] )
df

In [ ]:
# Упражнение 1 
# Получите количество уникальных значений в столбце "name" и уникальные значения в столбце "age". 
# Запишите их в переменные count и value соответственно
# count = df['name'].nunique()
# value = df['age'].unique()

In [ ]:
df['name'].nunique()
df['age'].unique()

In [ ]:
# Упражнение 2 
# В столбце "name" находятся имена студентов. Нужно получить серию, показывающую сколько раз каждое имя встречается в 
# столбце "name"
# new_ser = df["name"].value_counts()

pd.Series(df['name'].nunique())

In [ ]:
df['name'].value_counts()

In [ ]:
df.value_counts('name')

In [25]:
# Упражнение 3 
# Отсортируйте DF по столбцу "зарплата". Изменения должны коснуться исходного DF
# df.sort_values('зарплата',inplace=True)

In [ ]:
# Упражнение 4
# В столбце 'buy' замените 'куплено' на True, а 'не куплено' на False
#

In [76]:
import pandas as pd
import numpy as np

dict_array = {
    'age': [53, 53, 11, 18, 18, np.nan],
    'name': ['Сергей', 'Маша', 'Ксюша', 'Аристарх', 'Соня', 'Соня'],
    'Наличие авто': [True, True, False, True, False, True]
}

df = pd.DataFrame(dict_array, index=['row_0', 'row_1', 'row_2', 'row_3', 'row_4', 'row_5'] )
df

        age      name  Наличие авто
row_0  53.0    Сергей          True
row_1  53.0      Маша          True
row_2  11.0     Ксюша         False
row_3  18.0  Аристарх          True
row_4  18.0      Соня         False
row_5   NaN      Соня          True

In [32]:
dict1 = {'Соня': True, 'Маша': False}
# type(dict1)

In [ ]:
df['name'].map(dict1, na_action='ignore')

In [ ]:
df

In [ ]:
df['name'].map(lambda x: dict1, na_action='ignore')

In [ ]:
df['name'].str.replace('Соня', 'True') 
# замена строк

In [ ]:
def func(x):
    x = df['name']
    if x == 'Соня':
        return True
    elif x == 'Маша':
        return False
df.map(func)

In [ ]:
series = pd.Series(['товар_0', 'товар_1', 'товар_2', 'товар_3', 'товар_4'], name='name')

def func(x):
    x = df['name']
    if x == 'товар_0':
        return True

series.map(func)

In [77]:
x = df['name'].map({'Соня': True, 'Маша': False}, na_action='ignore')
x

row_0      NaN
row_1    False
row_2      NaN
row_3      NaN
row_4     True
row_5     True
Name: name, dtype: object

In [ ]:
df['name'] = df['name'].map({'Соня': True, 'Маша': False}, na_action='ignore')
df
# Задолбала

        age      name  Наличие авто
row_0  53.0    Сергей          True
row_1  53.0      Маша          True
row_2  11.0     Ксюша         False
row_3  18.0  Аристарх          True
row_4  18.0      Соня         False
row_5   NaN      Соня          True