## 1.2 Создание DataFrame и Series

In [ ]:
# Из документации
class pandas.Series(
    data=None, # Данные
    index=None, # 
    dtype=None, # 
    name=None, # 
    copy=None, # 
    fastpath=_NoDefault.no_default #
                    )

In [ ]:
# Из документации
class pandas.DataFrame(
    data=None, # Данные
    index=None, # 
    columns=None, # 
    dtype=None, # 
    copy=None # 
    )

## 1.3 Чтение и запись данных

In [ ]:
# Из документации
pandas.read_csv(filepath_or_buffer, # Путь к файлу
    *, 
    sep=_NoDefault.no_default, # Разделитель
    delimiter=None, #
    header='infer', # Какая строка будет заголовком. Принимает значения типа int 
    names=_NoDefault.no_default, #
    index_col=None,     #
    usecols=None,       # Указываем какие конкретные колонки читать из датафрейма
    dtype=None, 
    engine=None, 
    converters=None, 
    true_values=None, 
    false_values=None, 
    skipinitialspace=False, 
    skiprows=None, 
    skipfooter=0, 
    nrows=None, 
    na_values=None, 
    keep_default_na=True, 
    na_filter=True, 
    verbose=_NoDefault.no_default, 
    skip_blank_lines=True, 
    parse_dates=None, 
    infer_datetime_format=_NoDefault.no_default, 
    keep_date_col=_NoDefault.no_default, 
    date_parser=_NoDefault.no_default, 
    date_format=None, 
    dayfirst=False, 
    cache_dates=True, 
    iterator=False, 
    chunksize=None, 
    compression='infer', 
    thousands=None, decimal='.', 
    lineterminator=None, 
    quotechar='"', 
    quoting=0, 
    doublequote=True, 
    escapechar=None, 
    comment=None, 
    encoding=None, 
    encoding_errors='strict', 
    dialect=None, 
    on_bad_lines='error', 
    delim_whitespace=_NoDefault.no_default, 
    low_memory=True, 
    memory_map=False, 
    float_precision=None, 
    storage_options=None, 
    dtype_backend=_NoDefault.no_default)

In [ ]:
# Из документации
DataFrame.to_csv(path_or_buf=None,
    *,
    sep=',',
    na_rep='',
    float_format=None,
    columns=None,
    header=True,
    index=True,
    index_label=None,
    mode='w',
    encoding=None,
    compression='infer',
    quoting=None,
    quotechar='"',
    lineterminator=None,
    chunksize=None,
    date_format=None,
    doublequote=True,
    escapechar=None,
    decimal='.',
    errors='strict',
    storage_options=None)

## 1.4 Индексы строк и столбцов

In [ ]:
pandas.Index(data=None,
    dtype=None,
    copy=False,
    name=None,
    tupleize_cols=True)

In [ ]:
import pandas as pd
ind = df.index # Получает индексы строк
cols = df.columns # Получает индексы сущностей (колонок)
df = # В данном случае это датафрейм

In [ ]:
pandas.Index.to_list

Index.to_list()
Return a list of the values

In [ ]:
# My renamed columns
new_df = df.rename(columns=
    {'0.1':'0',
    '0':'1',
    'city':'City',
    'col_2':'Quantity_in_box',
    'col_3':'Quantity',
    'date':'Date',
    'col_5':'Check_box'
    }      
    )

## 1.5 Индексы. Доступ к данным.

In [ ]:
# Задайте индекс DataFrame, используя существующие столбцы
DataFrame.set_index(
    # Передаём в первый аргумент (keys) метку столбца который будет новым индексом. 
    # По умолчанию не меняет датафрейм а делает копию
    keys, # пример: DataFrame.set_index('col_1')
    *,
    drop=True,
    append=False,
    inplace=False,
    verify_integrity=False)

In [ ]:
# Сбросьте индекс DataFrame и используйте вместо него индекс по умолчанию.
# Если DataFrame имеет MultiIndex, этот метод может удалить один или несколько уровней.

pandas.DataFrame.reset_index
DataFrame.reset_index(
    level=None,
    *,
    drop=False,
    inplace=False,
    col_level=0,
    col_fill='',
    allow_duplicates=_NoDefault.no_default,
    names=None
    )

In [ ]:
# Получение определённого столбца из датафрейма
series = pd.Series(
    df['city'],
    )

## 1.6 Мультииндекс

In [ ]:
# pd.MultiIndex.from_arrays()
# pd.MultiIndex.from_product()
# pd.MultiIndex.from_tuples()

## 1.7 Арифметические операции

In [ ]:
add() # Сложение 
sub() # Вычетание
div() # деление
mui() # умножение
pow() # возведение в степень
mod() # вычисления остатка от деления
mean() # Возвращает среднее значение значений по запрошенной оси.

DataFrame.head(n) # Return the first n rows
DataFrame.tail(n) # Return the last n rows

## 1.8 Операции сравнения

Методы операций сравнения  
eq() ==  
ne() !=  
le() <=  
lt() <  
ge() >=  
gt() >

equals() # Метод сравнения df and series  
df.equals(df1) # Сравнивает два датафрейма и возвращяет False если не равны

& - битовая И  
Операторы сравнения ( ==, <, >, <= и т.д. )  
~ - битовая НЕ  
| - битовая ИЛИ

## 1.9  Фильтрация данных

In [ ]:
# Пример датафрейма в уроке
import pandas as pd
data = {
    'год рождения' : [88, 89, 90, 91, 92],
    'стаж работы' : [3.25, 4.50, 5.75, 6.25, 7.50],
    'зарплата' : [60000, 70000, 80000, 90000, 100000]
    }
df = pd.DataFrame(data)
df

##### Методы рассматриваемые в уроке

In [ ]:
df[список с bool значениями] # Фильтрация по булевым значениям

In [ ]:
df['год рождения'] < 90 # Получаем серию с булевыми значениями

In [ ]:
df[df['год рождения'] < 90 ] # Фильтруем датафрейм по серии с булевыми значениями

& - битовая И  
Операторы сравнения ( ==, <, >, <= и т.д. )  
~ - битовая НЕ  
| - битовая ИЛИ  

Приоритет битовых операций ~ & | ( ==, <, >, <= и т.д. )

##### Метод .isin()  

DataFrame.isin(values) # Содержится ли каждый элемент в DataFrame в значениях  
Series.isin(values) # Содержится ли каждый элемент в DataFrame в значениях  
Возвращает обьект того же размера с булевыми  
Принимает список  
Может принимать список со значениями применяемыми к датафрейму

In [ ]:
df.isin([91,60000])

In [ ]:
df.isin([4.50])

In [ ]:
df['год рождения'].isin([88])

#### Метод query()  
df.query()  
DataFrame.query(expr, *, inplace=False, **kwargs)  
Запрос столбцов DataFrame с помощью логического выражения  
Вы можете ссылаться на переменные в среде, добавляя к ним префикс «@», например .@a + b  
Русские названия полей с пробелом нужно экранировать обратными кавычками (там где буква ё)

In [ ]:
import pandas as pd
data = {
    'год рождения' : [88, 89, 90, 91, 92],
    'стаж работы' : [3.25, 4.50, 5.75, 6.25, 7.50],
    'зарплата' : [60000, 70000, 80000, 90000, 100000]
    }
df = pd.DataFrame(data)
df

In [ ]:
df.query('`зарплата` < 70000')

In [ ]:
df.query('not `зарплата` < 70000')

In [ ]:
df.query('not `зарплата` < 70000 and `стаж работы` == 7.50')

## 1.10 Пропуски в данных. Значение Nan.

#### Метод .dropna()  
Remove missing values.  
Удаляет строки или столбцы с пустыми значениями

In [ ]:
DataFrame.dropna(  
    *,  
    axis=0,  # 0 - удаляются строки. 1 - удаляются столбцы  

    how=<no_default>,   
    # how = 'any': если присутствуют какие-либо значения NA, удалить эту строку или столбец.
    # how = 'all': если все значения NA, удалить эту строку или столбец.  

    thresh=<no_default>,  
    # thresh позволяет указать минимальное количество непропущенных значений при котором
    # строка или столбец сохраняется: (не работает вместе с аргументом how)  

    subset=None,
    # subset: указывает строки/столбцы для поиска нулевых значений.  
    # пример subset=['Col1', 'Col2']
    # Если мы удаляем строки, то в этом аргументе указываем столбцы и наоборот

    inplace=False,  # Это уже знаем
    ignore_index=False  #
    )

In [ ]:
df.dropna(subset=[1], axis=1) # Удаляем столбцы в котором в строке с индексом 1 есть NAN

#### Метод .fillna()  
Fill NA/NaN values using the specified method.  
Заменяет пропуски на определённые значения

In [ ]:
DataFrame.fillna(
    value=None, # Значения на которые меняем. Может принимать словарь
    *, # 
    method=None,
    axis=None,
    inplace=False,
    limit=None,
    downcast=<no_default>
    )

In [ ]:
import pandas as pd
import numpy as np
data = {
    'год рождения' : [88, 89,np.nan, 91, 92],
    'стаж работы' : [3.25, 4.50, 5.75, np.nan, 7.50],
    'зарплата' : [60000, np.nan, 80000, 90000, 100000]
    }
df = pd.DataFrame(data)
df

In [ ]:
df.fillna('YouTubeVideo')

In [ ]:
# Передаём словарь
df.fillna({
    'год рождения' : 'Видел Ленина',
    'стаж работы' :  'Круче папы Карло',
    'зарплата' :  'За хлеб и воду',    
    })

####  Метод .isna()

DataFrame.isna()  
Detect missing values.  
возвращает bool значения объекта

In [ ]:
# Получаем строки в сущности которых нет пустых значений
df[ ~ df['год рождения'].isna()]

####  Метод .notna()

DataFrame.notna()  
Detect existing (non-missing) values.  
возвращает bool значения объекта  
Метод обратный методу .isna()

In [ ]:
df.notna()

In [ ]:
df['год рождения'].notna()

In [ ]:
df[df['год рождения'].notna()]

# Тоже самое что и:
df[ ~ df['год рождения'].isna()]

## 1.11 Удаление строк и столбцов и метод astype()

Метод drop()  
Drop specified labels from rows or columns  
Метод для удаления строк и столбцов  

DataFrame.drop()  
Series.drop()  
index.drop()  
Multiindex.drop()

In [ ]:
DataFrame.drop(
    labels=None, # Передаём то что будем удалять. Может принимать элемент или список элементов.
    # df.drop('row_1')
    *, # Нижеперечисленные аргументы - именные (передаются в метот только с именем.
    # Пример: df.drop(axis=0), а не просто df.drop(0)
    axis=0, # Что удаляем? 0-строки 1-поля
    index=None, # принимает имена или индексы строк которые нужно удалить
    # df.drop(index='row_3')
    columns=None,
    # df.drop(columns=['col_1','col_1']) принимает элемент или список
    level=None,
    inplace=False, # знаем
    errors='raise' #
    )

In [ ]:
import pandas as pd
import numpy as np
data = {
    'год рождения' : [88, 89,90, 91, 92],
    'стаж работы' : [3.25, 4.50, 5.75, 6.25, 7.50],
    'зарплата' : [60000, np.nan, 80000, 90000, 100000]
    }
df = pd.DataFrame(data)
df

In [ ]:
df.drop(index=2, columns='зарплата')

In [ ]:
df.drop(index=2)

Метод astype()  С помощью этого метода мы можем менять тип данных в столбцах  
Возвращает копию

Метод memory_usage()
Количество байт выделеных в памяти под обьект

Тип данных category в два раза быстрее чем object и занимает в несколкь раз меньше места. Менять на категориальный тип данных нужно в том случае если много повторяющихся не уникальных значений в столбце

In [ ]:
df.dtypes

In [ ]:
df.memory_usage()

In [ ]:
df.astype({
    'год рождения': np.int8,
    'стаж работы' : np.float64
    })

Метод info().
С помощью метода info() можно получить сведения о DF или Series
Класс объекта.  
Сведения об индексе: класс, количество строк, с какого индекса начинается и каким кончается.  
Количество столбцов.  
Сведения о столбцах: имена столбцов, количество строк без пропусков, тип данных в столбцах  
Типы данных и их количество.  
Объем памяти, который занимает DF или Series.  

Метод head()  верхние n строк
Метод tail()  нижние n строк
Метод describe()  
помогает получить некоторые статистические данные из числовых столбцов

## 2.1 Методы at и iat. Методы loс и iloc

Как было сказано в видео, методы iat[ ] и iloc[ ] работают с индексами строк и столбцов,  
а методы at[ ] и loc[ ] со значениями (метки)

In [1]:
dict_array = {
    'age': ['Сергей', 'Маша', 'Ксюша', 'Аристарх', 'Соня'],
    'name': [53, 37, 11, 18, 7],
    'Наличие авто': [True, True, False, True, False]
}
import pandas as pd
import numpy as np

df = pd.DataFrame(dict_array, index=['row_0', 'row_1', 'row_2', 'row_3', 'row_4'] )
df

#### Метод .iat()
DataFrame.iat()   
Series.iat()  
Access a single value for a row/column pair by integer position  
Доступ к одному значению для пары строка/столбец по целочисленной позиции  
Аналогично iloc, в том, что оба предоставляют целочисленные поиски.   
Используйте, iat если вам нужно получить или задать только одно значение в DataFrame или Series.  

В этом методе используем только индескы

In [ ]:
df.iat[2,1] # Пример

In [ ]:
df.iat[2,1] = 'New name' # Меняем значение

In [ ]:
df

#### Метод .at()  

Тоже что и .iat() только указываем не индексы, а название индексов тоесть названия строк или полей

In [ ]:
df.at['row_3', 'name'] # Берем значение из датафрейма на пересечении поля и строки

In [ ]:
df['age'].at['row_2'] # Берем значение из серии

In [ ]:
df.at['row_3', 'name'] = 'New name' # Меняем значение
df

#### Метод .iloc()  
DataFrame.iloc  
Series.iloc  
Purely integer-location based indexing for selection by position.  
Индексация на основе чисто целочисленного местоположения для выбора по позиции

df.iloc[ индекс строки, индекс столбца ]  
df.iloc[ [список индексов строк],[список индексов строк] ]  
df.iloc[ срезы:индексов,срезы:индексов ]  
df.iloc[ [список булевых значений],[список булевых значений] ]

In [ ]:
df.iloc[1,1] # Можно указывать только индесы

In [ ]:
df['Наличие авто'].to_list() # Делаем список из серии

In [ ]:
df.iloc[ df['Наличие авто'].to_list()] # выбираем строки по списку булевых значений столбцов

In [ ]:
df.iloc[ df['Наличие авто'].to_list(), [True, False, False] ] 
# Возьмёт только пересечение True

In [ ]:
# Можно указывать срезы строк или столбцов или того и другого
df.iloc[:,1:3]
df.iloc[:,:]
df.iloc[1:3]
df.iloc[1:3,:]

In [ ]:
df.iloc[1,1] = 1 # Меняем данные
df

#### Метод .loc()  
DataFrame.loc  
Series.loc  
Access a group of rows and columns by label(s) or a boolean array.  
.loc[]в первую очередь основан на метках, но может также использоваться с логическим массивом.

In [ ]:
dict_array = {
    'age': ['Сергей', 'Маша', 'Ксюша', 'Аристарх', 'Соня'],
    'name': [53, 37, 11, 18, 7],
    'Наличие авто': [True, True, False, True, False]
}
import pandas as pd
import numpy as np

df = pd.DataFrame(dict_array, index=['row_0', 'row_1', 'row_2', 'row_3', 'row_4'] )
df

In [ ]:
df.loc['метод строк','метод столбцов']

In [ ]:
# Берем значение из датафрейма на пересечении поля и строки
df.loc['row_2','name']

In [ ]:
df.loc[['row_2','row_1']] # Принимает список строк. Возвращает дф с нужными строками

In [ ]:
df.loc[ : , ['age','name']] 
# указываем срез из всех строк и вторым аргументом список из столбцов

In [ ]:
df.loc[ 'row_0' : 'row_3', 'name'] \
    # .info()
# Можно передать срезы меток. Возвращает серию

In [ ]:
df.loc[ 'row_0' : 'row_3', ['name']] \
    # .info()
# Можно передать срезы меток. Возвращает DataFrame

#### В данный метод можно передавать различные логические условия

In [ ]:
df.loc[ df['name'] == 7]
# Фильтр по условию. Хотим получить строки в которых в столбце name стоит значение

In [ ]:
df.loc[ 'row_0' : 'row_3', 'name'] == 53
# Ищем значение в срезе
df

In [ ]:
df.loc[ 'row_0' : 'row_3', 'name'] = 54
# Меняем значение
df

In [ ]:
df.loc[ 'row_0' : 'row_3', 'name'] = [10, 20, 30, 40]
# Логично что можем передать список
df

In [ ]:
df.loc[ 'row_0' : 'row_3', 'name'] = pd.Series('данные')
# Можем присваивать не только значение, список, но и серию Индексы должны совпадать

In [ ]:
# df.loc[ 'row_0' : 'row_3', ['name']].info()
df.loc[ 'row_0' : 'row_2', ['age', 'name']] = pd.DataFrame({
    'age': ['Сергей', 'Маша', 'Ксюша'],
    'name': [22, 33, 44]},
    index=['row_0', 'row_1', 'row_2']
    )
df
# А так же можем передавать датафрейм в словаре

In [ ]:
df.loc[ :, ['age', 'name']] = df[['name', 'age']].to_numpy()
df
# Меняем столбцы местами  ['age', 'name'] через функцию .to_numpy()

## 2.2 Методы value_counts(), sort_values(), unique(), nunique()

In [ ]:
import pandas as pd
import numpy as np

dict_array = {
    'age': [53, 53, 11, 18, 18, np.nan],
    'name': ['Сергей', 'Маша', 'Ксюша', 'Аристарх', 'Соня', 'Соня' ],
    'Наличие авто': [True, True, False, True, False, True]
}

df = pd.DataFrame(dict_array, index=['row_0', 'row_1', 'row_2', 'row_3', 'row_4', 'row_5'] )
df

In [ ]:
df['age'].unique() 
# Возвращает массив с уникальными значений. Применяется только к сериям и к индексам

In [ ]:
df['age'].nunique() 
# Возвращает колличество уникальных значений. Применяется к сериям и дф. 
# НЕ СЧИТАЕТ ПРОПУСКИ В ДАННЫХ!!!

In [ ]:
df['age'].value_counts()

In [ ]:
df.value_counts(['age','name'])

In [ ]:
df.value_counts(['age','name'], dropna=False)
# Считает колличество дублей по полям

In [ ]:
df.value_counts('name', normalize=True)
# Считает пропорции

In [ ]:
df.sort_values(['age','name'])
# Сортировка

In [ ]:
df.sort_values(['age','name'], na_position='first')

In [24]:
df.sort_values('age', na_position='first', inplace=True)

## Метод map()

DataFrame.map()  
Index.map()  
Series.map()

Метод map(arg, na_action=None)  
Данный метод используется для замены каждого значения в Series или Index другим значением, которое может быть получено из функции, словаря или Series. На вход принимает два аргумента arg и na_action. Аргумент arg может быть или серией, или словарем, или функцией. Аргумент na_action по умолчанию None, если принимает значение na_action='ignore', то значения Nan не будут преобразовываться  
Метод возвращает новый объект не меняя старый.

In [79]:
arg_dict = {
    'товар_0': 'product_0',
    'товар_1': 'product_1',
    # 'товар_2': 'product_2',
    'товар_3': 'product_3',
    'товар_4': 'product_4'
    }

In [80]:
series = pd.Series(['товар_0', 'товар_1', 'товар_2', 'товар_3', 'товар_4'], name='name')

In [ ]:
s = pd.Series(series).map(arg_dict,
                          na_action='ignore')
s

In [ ]:
def func(str_in):
    return str_in.replace('товар', 'product')

series.map(func)

## Метод isin(values)

DataFrame.isin  
Index.isin  
Series.isin  

Данный метод показывает содержится ли переданный в него элемент в DataFrame-е, Series или Index-е. В метод передается один аргумент values, который содержит список с элементом или элементами для проверки. Метод возвращает DataFrame, Series или Index с логическими значениями, показывающие, содержится ли переданный в метод элемент  
Метод возвращает новый объект не меняя старый

In [ ]:
import pandas as pd
import numpy as np

dict_array = {
    'age': [53, 53, 11, 18, 18, np.nan],
    'name': ['Сергей', 'Маша', 'Ксюша', 'Аристарх', 'Соня', 'Соня' ],
    'Наличие авто': [True, True, False, True, False, True]
}

df = pd.DataFrame(dict_array, index=['row_0', 'row_1', 'row_2', 'row_3', 'row_4', 'row_5'] )
df

In [ ]:
df.isin([53]).sum()
# Сколько раз в DF встречается число 53

In [ ]:
df.isin([53,'Маша', 18])
# Можно передать несколько значений

In [ ]:
df.isin([np.nan])
# Можно передавать значения NaN

## Методы apply()

DataFrame.apply  
Series.apply

In [ ]:
dct = {f'col_{i}':[i*1, i*2, i*3, i*4, i*5] if i != 3 else [i, i, i, i, i] for i in range(5)}
df = pd.DataFrame(dct)
df

In [ ]:
df.apply(np.min)

In [ ]:
df

In [ ]:
def my_func(series):
    return (series *100) if series.name != 'col_2' else series * 0
    # Если колонка серии не равна col_2, то всё умножить на 100, если равна то на 0 
df.apply(my_func)